* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-jumbotron > * {
  padding-top: 150px;
}

/* GENERAL */

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 80px 0;
}

img {
  max-width: 100%;
}

p {
  padding: 25px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

main h2 {
  font-size: 2.5rem;
  padding: 60px 0;
}

.button {
  padding: 10px 20px;

  color: white;

  background: #0061ff;

  border: none;

  font-size: 1rem;
}

/* CONTAINERS */

.large-container {
  width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.small-container {
  width: 90%;
  margin: 0 auto;
}

.bg-jumbotron {
  width: 100%;
  background: #b4d0e7;
}

/* FLEX FUNCTIONS */

.flex {
  display: flex;
}

/* HEADER */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 20px;

  background: white;
}

.header-link {
  list-style-type: none;

  font-size: 1.2rem;
  font-weight: 300;

  padding-right: 20px;

  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* MAIN */

/* JUMBOTRON */

.jb-title {
  font-size: 5rem;
  font-weight: 900;
  padding-bottom: 50px;
}

.jb-content {
  width: 30%;
  height: 100%;
  font-size: 1rem;
}

.jb-image {
  width: 70%;
  margin-bottom: -100px;
}

.unsubscribe {
  display: block;

  padding: 10px 0;

  border: none;

  font-size: 1rem;

  background: rgba(255, 255, 255, 0);

  margin: 20px 0;
}

.fa-arrow-down {
  font-size: 3rem;
}

/* SECTION CARD */

.r-button {
  font-size: 1.2rem;
  padding: 20px 40px 20px 0;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  margin-top: 50px;
  min-height: 300px;

  border: 1px solid lightgray;
}

.card div li {
  padding: 10px 0;
  list-style-type: none;
}

.card-title {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid lightgray;
}

.card-offer {
  line-height: 2rem;
}

.card-offer > h3 {
  font-size: 1.75rem;
}

.card-ul {
  line-height: 1.5rem;
}

.card-offer,
.card-ul,
.card-button {
  padding: 30px;
}

.card-border-gray {
  padding-right: 5px;
  padding-bottom: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

.card-link,
.fa-check {
  color: #0061ff;
}

.card-ul > h4 {
  padding-top: 60px;
  font-size: 1.2rem;
  padding-bottom: 20px;
}
