* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-jumbotron > * {
  padding-top: 150px;
}

/* GENERAL */

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

p {
  padding: 25px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button {
  padding: 10px;

  color: white;

  background: blue;

  border: none;

  font-size: 1rem;
}

/* CONTAINERS */

.large-container {
  width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.small-container {
  width: 80%;
  margin: 0 auto;
}

.bg-jumbotron {
  width: 100%;
  background: #b4d0e7;
}

/* FLEX FUNCTIONS */

.flex {
  display: flex;
}

/* HEADER */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 20px;

  background: white;
}

.header-link {
  list-style-type: none;

  font-size: 1.2rem;
  font-weight: 300;

  padding-right: 20px;

  display: flex;
  align-items: center;
}

/* MAIN */

/* JUMBOTRON */

.jb-title {
  font-size: 5rem;
  font-weight: 900;
  padding-bottom: 50px;
}

.jb-content {
  display: inline-block;
  width: 38%;
  font-size: 1rem;
}

.jb-image {
  display: inline-block;
  width: 60%;
}

.unsubscribe {
  display: block;

  padding: 10px;

  border: none;

  font-size: 1rem;

  background: rgba(255, 255, 255, 0);

  margin-top: 20px;
}

.fa-arrow-down {
  font-size: 3rem;
}
