:root {
  --blue: #0061ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-jumbotron > * {
  padding-top: 150px;
}

/* GENERAL */

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 80px 0;
}

img {
  max-width: 100%;
}

p {
  padding: 25px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

main h2 {
  font-size: 2.5rem;
  padding: 60px 0;
}

section h3 {
  font-size: 1.75rem;
}

/* UTILITIES */

.col70 {
  width: 70%;
}

.col60 {
  width: 60%;
}

.col40 {
  width: 40%;
}

.col30 {
  width: 30%;
}

.button {
  padding: 10px 20px;

  color: white;

  background: var(--blue);

  border: none;

  font-size: 1rem;
}

.button-2 {
  padding: 10px 20px;

  color: black;

  border: 1px solid black;

  font-size: 1rem;
  font-weight: 300;
}

/* CONTAINERS */

.large-container {
  width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.small-container {
  width: 90%;
  margin: 0 auto;
}

.bg-jumbotron {
  width: 100%;
  background: #b4d0e7;
  box-shadow: inset 0 -70px white;
}

/* FLEX FUNCTIONS */

.flex {
  display: flex;
}

.flex-between {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.gap5 {
  gap: 5%;
}

/* HOVER */
.shadow:hover {
  box-shadow: 4px 4px lightgray;
}

.shadow-2:hover {
  box-shadow: 0px 2px var(--blue);
  padding-bottom: 3px;
}

.button:hover {
  padding: 10px 20px;

  color: var(--blue);

  background: white;

  box-shadow: 4px 4px 4px 4px var(--blue);

  font-size: 1rem;
}

.button-2:hover {
  padding: 10px 20px;

  color: grey;
  background: lightgrey;

  border: none;

  box-shadow: 4px 4px 4px 4px grey;

  font-size: 1rem;
  font-weight: 300;
}

.questions li:hover {
  border-bottom: 1px solid grey;
}

/* HEADER */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 20px;

  background: white;
}

.header-link {
  list-style-type: none;

  font-size: 1.2rem;
  font-weight: 300;

  padding-right: 20px;

  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* MAIN */

/* JUMBOTRON */

.jb-title {
  font-size: 4rem;
  font-weight: 900;
  padding-bottom: 50px;
}

.jb-content {
  width: 30%;
  font-size: 1rem;
  padding-bottom: 70px;
}

.jb-image {
  width: 70%;
}

.unsubscribe {
  display: block;

  padding: 10px 0;

  border: none;

  font-size: 1rem;

  background: rgba(255, 255, 255, 0);

  margin: 20px 0;
}

.fa-arrow-down {
  font-size: 3rem;
}

/* SECTION CARD */

.r-button {
  font-size: 1.2rem;
  padding: 20px 40px 20px 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.card {
  margin-top: 50px;
  min-height: 300px;
  width: calc((100% - 50px) / 3);

  border: 1px solid lightgray;
}

.card div li {
  padding: 10px 0;
  list-style-type: none;
}

.card-title {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}

.card-offer,
.horizontal-card-offer {
  line-height: 2rem;
}

.card-offer div {
  color: lightgray;
}

.card-ul {
  line-height: 1.5rem;
}

.card-ul > h4 {
  padding-top: 60px;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.button-card,
.horizontal-button-card {
  width: 100%;
}

.card-offer,
.horizontal-card-offer,
.card-ul,
.card-button {
  padding: 30px;
}

.card-border-gray {
  padding-right: 5px;
  padding-bottom: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

section a,
.fa-check {
  color: var(--blue);
}

/* HORIZONTAL CARD */

.horizontal-card {
  margin-top: 25px;
  min-height: 200px;
  width: 100%;

  border: 1px solid lightgray;
}

.horizontal-card-offer div {
  color: lightgray;
}

.horizontal-card-offer > h3 {
  font-size: 1.75rem;
  padding-bottom: 20px;
}

.horizontal-card-offer > p {
  padding-top: 30px;
}

.horizontal-card-bottom {
  display: flex;
}

/* SERCH PARTNER SECTION */

.partner-items {
  display: flex;
  padding: 70px 0;
}

.partner-text {
  padding: 40px;
}

/* SIX SLIDES SECTION */

.slides {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.slide {
  width: calc(100% / 3 - 2%);
  padding-top: 30px;
}

/* TEAM PARTNER */

.all-team-partner {
  display: flex;
}

.block-team-partner {
  width: calc(100% / 3);
}

.team-partner-logos {
  display: flex;
  flex-wrap: wrap;
}

.team-partner-logos img {
  filter: invert(100%);
  width: 70%;
}

.team-partner {
  width: 50%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.designit-logo {
  background: #a2d39b;
  border: 15px inset #d1e9cd;
}

.asu-logo {
  background: #61082b;
}

.uf-florida-logo {
  background: #0093ce;
}

.topps-logo {
  background: #ff1c1c;
}

/* CENTER BLOCK */

.block-center {
  padding: 20px 40px;
  background: #f5f5f5;
}

.block-center img {
  width: 50%;
  margin-bottom: 30px;
}

/* BLOCK RIGHT */

.world-bicycle-relief {
  background: #d5001f;
}

.hearstcorp {
  background: #b4d0e7;
}

.lonely-planet {
  background: #0d2481;
}

.clear-channel {
  background: #ffd830;
}

/* PORTA DROPBOX NELLA TUA AZIENDA */

.bg-turquoise {
  background: #b4d0e7;
  margin-top: -80px;
  min-height: 300px;
  padding: 40px;
}

.border-none {
  border: none;
}

.color-bordeux {
  color: #61082b;
}

/* FAQ SECTION */

.title-faq {
  border-bottom: 1px solid lightgray;
}

.questions li {
  padding: 40px 0;

  border-bottom: 1px solid lightgray;
  list-style-type: none;
}

.questions li i {
  padding-right: 30px;
}

/* FOOTER */

footer {
  background: #000;
  padding: 40px 0;
}

.ul-footer {
  line-height: 2rem;
  list-style-type: none;
}

.list-title-footer {
  color: white;
  font-size: 1.25rem;
  padding-top: 40px;
  padding-bottom: 20px;
}

.a-footer {
  text-decoration: none;
  color: white;
}

.footer-bottom {
  margin-top: 60px;
  padding: 40px 0;
  color: wheat;
}

.footer-bottom span {
  border-top: 1px solid white;
  padding: 40px 0;
}
